In [12]:
import pandas as pd
import numpy as np

In [8]:
# Load the Train Parquet file for EDA
raw_train_df = pd.read_parquet("../datasets/raw_train_oct_2024.snappy.parquet")

print("Dataset loaded successfully!")
raw_train_df.head()  # View first few rows

Dataset loaded successfully!

,stock_item_id,last_date_seen,first_date_seen,days_to_sell,first_retailer_asking_price,last_retailer_asking_price,can_home_deliver,reviews_per_100_advertised_stock_last_12_months,segment,seats,...,first_registration_date,attention_grabber,manufacturer_approved,price_indicator_rating,adjusted_retail_amount_gbp,predicted_mileage,number_of_images,first_image_label,advert_quality,postcode_area
0,b6598141a3d1dca4825a72e0f55ddfeb0fb55cabbc14da...,2024-10-12,2024-10-09,3,3695,3695,False,1.0,Independent,5.0,...,2010-09-23,"1 LADY OWNER FROM NEW, 2 KEYS",False,GREAT,3897.0,87353.0,16,FRONT_RIGHT,62,L
1,acdde4604ab932227b68abff979123a3f0b5d26d8b711e...,2024-10-11,2024-09-13,28,18998,18298,False,6.3,Franchise,5.0,...,2021-07-31,Sales event now on.,False,FAIR,17268.0,31423.0,19,FRONT_RIGHT,46,B
2,0d29437822e059c038fc7f6385d9c348ba3727509add9a...,2024-10-05,2024-08-23,43,13990,13990,False,0.2,Independent,5.0,...,2021-06-29,1 OWNER | SAT NAV | DAB |,False,LOW,15316.0,23882.0,28,FRONT_RIGHT,70,PE
3,bbd82c7e47cba47f96ac59c7022ff1ca485c869f660778...,2024-10-15,2024-09-30,15,8174,7990,False,0.3,Independent,4.0,...,2016-03-23,"8 SERVICE RECORDS, SAT NAV",False,GOOD,8085.0,58342.0,24,FRONT_RIGHT,52,LE
4,2515373efa5d36e0220cd42cc1cea23686e547cad17ca3...,2024-10-07,2024-08-15,53,9450,8750,False,7.3,Independent,5.0,...,2014-09-10,"ULEZ COMPLIANT, 6M WARRANTY",False,LOW,9529.0,69003.0,34,FRONT_LEFT,47,SS

In [9]:
raw_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112086 entries, 0 to 112085
Data columns (total 43 columns):
 #   Column                                           Non-Null Count   Dtype
---  ------                                           --------------   -----
 0   stock_item_id                                    112086 non-null  object
 1   last_date_seen                                   112086 non-null  object
 2   first_date_seen                                  112086 non-null  object
 3   days_to_sell                                     112086 non-null  int32
 4   first_retailer_asking_price                      112086 non-null  int64
 5   last_retailer_asking_price                       112086 non-null  int64
 6   can_home_deliver                                 112086 non-null  bool
 7   reviews_per_100_advertised_stock_last_12_months  101795 non-null  float64
 8   segment                                          112018 non-null  object
 9   seats                                            112023 non-null  float64
 10  doors                                            112080 non-null  float64
 11  co2_emission_gpkm                                112025 non-null  float64
 12  top_speed_mph                                    111806 non-null  float64
 13  zero_to_sixty_mph_seconds                        42937 non-null   object
 14  engine_power_bhp                                 111864 non-null  object
 15  fuel_economy_wltp_combined_mpg                   107899 non-null  object
 16  battery_range_miles                              7789 non-null    float64
 17  battery_usable_capacity_kwh                      7771 non-null    object
 18  length_mm                                        111961 non-null  object
 19  boot_space_seats_up_litres                       109825 non-null  float64
 20  insurance_group                                  72848 non-null   object
 21  plate                                            112081 non-null  object
 22  make                                             112086 non-null  object
 23  model                                            112086 non-null  object
 24  generation                                       112035 non-null  object
 25  derivative                                       112086 non-null  object
 26  derivative_id                                    112035 non-null  object
 27  body_type                                        112086 non-null  object
 28  fuel_type                                        112086 non-null  object
 29  transmission_type                                112086 non-null  object
 30  drivetrain                                       112060 non-null  object
 31  colour                                           111163 non-null  object
 32  odometer_reading_miles                           112086 non-null  int64
 33  first_registration_date                          112086 non-null  object
 34  attention_grabber                                106687 non-null  object
 35  manufacturer_approved                            112086 non-null  bool
 36  price_indicator_rating                           112086 non-null  object
 37  adjusted_retail_amount_gbp                       107790 non-null  float64
 38  predicted_mileage                                109074 non-null  float64
 39  number_of_images                                 112086 non-null  int32
 40  first_image_label                                111326 non-null  object
 41  advert_quality                                   112086 non-null  int32
 42  postcode_area                                    112018 non-null  object
dtypes: bool(2), float64(9), int32(3), int64(3), object(26)
memory usage: 34.0+ MB

## Select Column Types

### Select Numeric DataFrame

In [13]:
numeric_df = raw_train_df.select_dtypes(include=[np.number])
numeric_df

,days_to_sell,first_retailer_asking_price,last_retailer_asking_price,reviews_per_100_advertised_stock_last_12_months,seats,doors,co2_emission_gpkm,top_speed_mph,battery_range_miles,boot_space_seats_up_litres,odometer_reading_miles,adjusted_retail_amount_gbp,predicted_mileage,number_of_images,advert_quality
0,3,3695,3695,1.0,5.0,5.0,124.0,107.0,NaN,285.0,25000,3897.0,87353.0,16,62
1,28,18998,18298,6.3,5.0,5.0,130.0,119.0,NaN,520.0,34033,17268.0,31423.0,19,46
2,43,13990,13990,0.2,5.0,5.0,115.0,124.0,NaN,341.0,7638,15316.0,23882.0,28,70
3,15,8174,7990,0.3,4.0,3.0,125.0,126.0,NaN,312.0,95160,8085.0,58342.0,24,52
4,53,9450,8750,7.3,5.0,5.0,146.0,120.0,NaN,316.0,18420,9529.0,69003.0,34,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112081,18,5995,5995,8.7,5.0,5.0,99.0,112.0,NaN,290.0,52420,5777.0,59567.0,17,54
112082,95,33198,31299,9.2,5.0,5.0,157.0,152.0,NaN,465.0,8913,33838.0,17129.0,42,59
112083,93,48950,46450,NaN,5.0,4.0,159.0,155.0,NaN,480.0,6519,46794.0,8312.0,46,57
112084,57,1850,1699,5.1,5.0,5.0,145.0,107.0,NaN,410.0,94133,NaN,NaN,23,51
112085,7,11397,11397,0.7,5.0,5.0,101.0,116.0,NaN,351.0,41000,11227.0,40565.0,6,42

In [14]:
numeric_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112086 entries, 0 to 112085
Data columns (total 15 columns):
 #   Column                                           Non-Null Count   Dtype
---  ------                                           --------------   -----
 0   days_to_sell                                     112086 non-null  int32
 1   first_retailer_asking_price                      112086 non-null  int64
 2   last_retailer_asking_price                       112086 non-null  int64
 3   reviews_per_100_advertised_stock_last_12_months  101795 non-null  float64
 4   seats                                            112023 non-null  float64
 5   doors                                            112080 non-null  float64
 6   co2_emission_gpkm                                112025 non-null  float64
 7   top_speed_mph                                    111806 non-null  float64
 8   battery_range_miles                              7789 non-null    float64
 9   boot_space_seats_up_litres                       109825 non-null  float64
 10  odometer_reading_miles                           112086 non-null  int64
 11  adjusted_retail_amount_gbp                       107790 non-null  float64
 12  predicted_mileage                                109074 non-null  float64
 13  number_of_images                                 112086 non-null  int32
 14  advert_quality                                   112086 non-null  int32
dtypes: float64(9), int32(3), int64(3)
memory usage: 11.5 MB

### Select Categorical DataFrame

In [17]:
categorical_df = raw_train_df.select_dtypes(include=["object", "bool"])
categorical_df

,stock_item_id,last_date_seen,first_date_seen,can_home_deliver,segment,zero_to_sixty_mph_seconds,engine_power_bhp,fuel_economy_wltp_combined_mpg,battery_usable_capacity_kwh,length_mm,...,fuel_type,transmission_type,drivetrain,colour,first_registration_date,attention_grabber,manufacturer_approved,price_indicator_rating,first_image_label,postcode_area
0,b6598141a3d1dca4825a72e0f55ddfeb0fb55cabbc14da...,2024-10-12,2024-10-09,False,Independent,12.7,84.0,53.3,None,3999.0,...,Petrol,Manual,Front Wheel Drive,Red,2010-09-23,"1 LADY OWNER FROM NEW, 2 KEYS",False,GREAT,FRONT_RIGHT,L
1,acdde4604ab932227b68abff979123a3f0b5d26d8b711e...,2024-10-11,2024-09-13,False,Franchise,None,129.0,60.8,None,4447.0,...,Diesel,Manual,Front Wheel Drive,Grey,2021-07-31,Sales event now on.,False,FAIR,FRONT_RIGHT,B
2,0d29437822e059c038fc7f6385d9c348ba3727509add9a...,2024-10-05,2024-08-23,False,Independent,10.0,124.0,55.4,None,4378.0,...,Petrol,Manual,Front Wheel Drive,Black,2021-06-29,1 OWNER | SAT NAV | DAB |,False,LOW,FRONT_RIGHT,PE
3,bbd82c7e47cba47f96ac59c7022ff1ca485c869f660778...,2024-10-15,2024-09-30,False,Independent,None,123.0,52.3,None,4256.0,...,Petrol,Manual,Front Wheel Drive,Blue,2016-03-23,"8 SERVICE RECORDS, SAT NAV",False,GOOD,FRONT_RIGHT,LE
4,2515373efa5d36e0220cd42cc1cea23686e547cad17ca3...,2024-10-07,2024-08-15,False,Independent,None,123.0,44.8,None,4358.0,...,Petrol,Automatic,Front Wheel Drive,White,2014-09-10,"ULEZ COMPLIANT, 6M WARRANTY",False,LOW,FRONT_LEFT,SS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112081,972aa9a8f7b3c4b010a61898c55809252cc9e7f1f4a1a2...,2024-10-15,2024-09-27,False,Independent,None,99.0,65.7,None,3969.0,...,Petrol,Manual,Front Wheel Drive,Black,2015-03-25,FREE TAX,False,FAIR,FRONT_LEFT,G
112082,7197de1e741d66a3356dfbf863dad033211d42f96ce316...,2024-10-29,2024-07-26,False,Independent,None,201.0,40.9,None,4757.0,...,Petrol,Automatic,Front Wheel Drive,Red,2022-09-01,LEATHER | HEATED SEATS,False,LOW,FRONT_RIGHT,E
112083,467f841cb64f99ba2bc1dbcd5d33b8d19c02a69a034240...,2024-10-19,2024-07-18,False,Franchise,None,335.0,46.3,None,4713.0,...,Diesel Hybrid,Automatic,Four Wheel Drive,Blue,2024-01-18,Comfort & Technology Pack,True,GOOD,FRONT_RIGHT,BT
112084,7cebcc19bff375c2666cf2d59a8d0d07f70aebad308410...,2024-10-12,2024-08-16,False,Independent,12.8,105.0,52.3,None,4315.0,...,Diesel,Manual,Front Wheel Drive,Orange,2007-03-03,12 months mot free warranty,False,NOANALYSIS,FRONT_LEFT,M
112085,36bd910e4623e4d01657ebf080594f3c6de9ef637b83e3...,2024-10-03,2024-09-26,False,Franchise,None,94.0,64.2,None,4053.0,...,Petrol,Manual,Front Wheel Drive,Black,2018-03-29,"CAR PLAY, BLUETOOTH, DAB",False,GOOD,PROMOTIONAL_MATERIAL,NE

In [18]:
categorical_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112086 entries, 0 to 112085
Data columns (total 28 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   stock_item_id                   112086 non-null  object
 1   last_date_seen                  112086 non-null  object
 2   first_date_seen                 112086 non-null  object
 3   can_home_deliver                112086 non-null  bool
 4   segment                         112018 non-null  object
 5   zero_to_sixty_mph_seconds       42937 non-null   object
 6   engine_power_bhp                111864 non-null  object
 7   fuel_economy_wltp_combined_mpg  107899 non-null  object
 8   battery_usable_capacity_kwh     7771 non-null    object
 9   length_mm                       111961 non-null  object
 10  insurance_group                 72848 non-null   object
 11  plate                           112081 non-null  object
 12  make                            112086 non-null  object
 13  model                           112086 non-null  object
 14  generation                      112035 non-null  object
 15  derivative                      112086 non-null  object
 16  derivative_id                   112035 non-null  object
 17  body_type                       112086 non-null  object
 18  fuel_type                       112086 non-null  object
 19  transmission_type               112086 non-null  object
 20  drivetrain                      112060 non-null  object
 21  colour                          111163 non-null  object
 22  first_registration_date         112086 non-null  object
 23  attention_grabber               106687 non-null  object
 24  manufacturer_approved           112086 non-null  bool
 25  price_indicator_rating          112086 non-null  object
 26  first_image_label               111326 non-null  object
 27  postcode_area                   112018 non-null  object
dtypes: bool(2), object(26)
memory usage: 22.4+ MB

The presence of certain values represented as 'None' in categorical data columns makes dataframe that should originally be numerical to be representated as cateforical instead. 
Data processing will be performed on these data columns transformining them back to numerical features

In [21]:
## Sanity check that both Numerical and Categorical columns add up

len(raw_train_df.columns) == (len(numeric_df.columns) + len(categorical_df.columns))

True

## Force Transform Certain Categorical columns to Numeric features (Replace 'None' with 'Nan')

In [34]:
import numpy as np
from sklearn.preprocessing import FunctionTransformer

In [38]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import FunctionTransformer

def replace_none_with_nan(X, selected_columns):
    # Convert to DataFrame if input is a NumPy array
    if isinstance(X, np.ndarray):
        X = pd.DataFrame(X)
    
    # Replace None and string 'None' with np.nan
    return X.replace({None: np.nan, 'None': np.nan})

# Create FunctionTransformer
replace_with_nan_transformer = FunctionTransformer(replace_none_with_nan)

# Example Data
X = pd.DataFrame(np.array([[1, 'None'], [2, 3]]))

# Apply transformation
X_transformed = replace_with_nan_transformer.transform(X)

X_transformed

   0    1
0  1  NaN
1  2    3